<%= form_for @job do |f| %>
  <div>
    <%= f.label :title %>
	<%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
	<%= f.text_area :description, size: '60x6' %>
  </div>
  <div>
    <%= f.label :required_skills %>
	<%= f.text_area :required_skills, size: '60x6' %>
  </div>
  <div>
    <p>Tags:
	  <%= @job.tags.map{ |t| t.title }.join(', ') %>
	</p>
	
	<p>Add Tags:
	</p>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>